/Template Latex - Apresentacao - IFSP - SBV/*.aux
/Template Latex - Apresentacao - IFSP - SBV/*.bak
/Template Latex - Apresentacao - IFSP - SBV/*.bbl
/Template Latex - Apresentacao - IFSP - SBV/*.blg
/Template Latex - Apresentacao - IFSP - SBV/*.brf
/Template Latex - Apresentacao - IFSP - SBV/*.def
/Template Latex - Apresentacao - IFSP - SBV/*.equ
/Template Latex - Apresentacao - IFSP - SBV/*.exp
/Template Latex - Apresentacao - IFSP - SBV/*.gz
/Template Latex - Apresentacao - IFSP - SBV/*.gz(busy)
/Template Latex - Apresentacao - IFSP - SBV/*.idx
/Template Latex - Apresentacao - IFSP - SBV/*.ilg
/Template Latex - Apresentacao - IFSP - SBV/*.lis
/Template Latex - Apresentacao - IFSP - SBV/*.listing
/Template Latex - Apresentacao - IFSP - SBV/*.lof
/Template Latex - Apresentacao - IFSP - SBV/*.log
/Template Latex - Apresentacao - IFSP - SBV/*.loq
/Template Latex - Apresentacao - IFSP - SBV/*.lot
/Template Latex - Apresentacao - IFSP - SBV/*.nav
/Template Latex - Apresentacao - IFSP - SBV/*.out
/Template Latex - Apresentacao - IFSP - SBV/*.pdf
/Template Latex - Apresentacao - IFSP - SBV/*.pyg
/Template Latex - Apresentacao - IFSP - SBV/*.sav
/Template Latex - Apresentacao - IFSP - SBV/*.sigla
/Template Latex - Apresentacao - IFSP - SBV/*.siglax
/Template Latex - Apresentacao - IFSP - SBV/*.snm
/Template Latex - Apresentacao - IFSP - SBV/*.stf
/Template Latex - Apresentacao - IFSP - SBV/*.symbols
/Template Latex - Apresentacao - IFSP - SBV/*.symbolsx
/Template Latex - Apresentacao - IFSP - SBV/*.synctex
/Template Latex - Apresentacao - IFSP - SBV/*.synctex(busy)
/Template Latex - Apresentacao - IFSP - SBV/*.toc
/Template Latex - Apresentacao - IFSP - SBV/*.xwm

/Template Latex - Artigo - IFSP - SBV/*.aux
/Template Latex - Artigo - IFSP - SBV/*.bak
/Template Latex - Artigo - IFSP - SBV/*.bbl
/Template Latex - Artigo - IFSP - SBV/*.blg
/Template Latex - Artigo - IFSP - SBV/*.brf
/Template Latex - Artigo - IFSP - SBV/*.def
/Template Latex - Artigo - IFSP - SBV/*.equ
/Template Latex - Artigo - IFSP - SBV/*.exp
/Template Latex - Artigo - IFSP - SBV/*.gz
/Template Latex - Artigo - IFSP - SBV/*.gz(busy)
/Template Latex - Artigo - IFSP - SBV/*.idx
/Template Latex - Artigo - IFSP - SBV/*.ilg
/Template Latex - Artigo - IFSP - SBV/*.lis
/Template Latex - Artigo - IFSP - SBV/*.listing
/Template Latex - Artigo - IFSP - SBV/*.lof
/Template Latex - Artigo - IFSP - SBV/*.log
/Template Latex - Artigo - IFSP - SBV/*.loq
/Template Latex - Artigo - IFSP - SBV/*.lot
/Template Latex - Artigo - IFSP - SBV/*.nav
/Template Latex - Artigo - IFSP - SBV/*.out
/Template Latex - Artigo - IFSP - SBV/*.pdf
/Template Latex - Artigo - IFSP - SBV/*.pyg
/Template Latex - Artigo - IFSP - SBV/*.sav
/Template Latex - Artigo - IFSP - SBV/*.sigla
/Template Latex - Artigo - IFSP - SBV/*.siglax
/Template Latex - Artigo - IFSP - SBV/*.snm
/Template Latex - Artigo - IFSP - SBV/*.stf
/Template Latex - Artigo - IFSP - SBV/*.symbols
/Template Latex - Artigo - IFSP - SBV/*.symbolsx
/Template Latex - Artigo - IFSP - SBV/*.synctex
/Template Latex - Artigo - IFSP - SBV/*.synctex(busy)
/Template Latex - Artigo - IFSP - SBV/*.toc
/Template Latex - Artigo - IFSP - SBV/*.xwm

/Template Latex - Monografia - IFSP - SBV/*.aux
/Template Latex - Monografia - IFSP - SBV/*.bak
/Template Latex - Monografia - IFSP - SBV/*.bbl
/Template Latex - Monografia - IFSP - SBV/*.blg
/Template Latex - Monografia - IFSP - SBV/*.brf
/Template Latex - Monografia - IFSP - SBV/*.def
/Template Latex - Monografia - IFSP - SBV/*.equ
/Template Latex - Monografia - IFSP - SBV/*.exp
/Template Latex - Monografia - IFSP - SBV/*.gz
/Template Latex - Monografia - IFSP - SBV/*.gz(busy)
/Template Latex - Monografia - IFSP - SBV/*.idx
/Template Latex - Monografia - IFSP - SBV/*.ilg
/Template Latex - Monografia - IFSP - SBV/*.lis
/Template Latex - Monografia - IFSP - SBV/*.listing
/Template Latex - Monografia - IFSP - SBV/*.lof
/Template Latex - Monografia - IFSP - SBV/*.log
/Template Latex - Monografia - IFSP - SBV/*.loq
/Template Latex - Monografia - IFSP - SBV/*.lot
/Template Latex - Monografia - IFSP - SBV/*.nav
/Template Latex - Monografia - IFSP - SBV/*.out
/Template Latex - Monografia - IFSP - SBV/*.pdf
/Template Latex - Monografia - IFSP - SBV/*.pyg
/Template Latex - Monografia - IFSP - SBV/*.sav
/Template Latex - Monografia - IFSP - SBV/*.sigla
/Template Latex - Monografia - IFSP - SBV/*.siglax
/Template Latex - Monografia - IFSP - SBV/*.snm
/Template Latex - Monografia - IFSP - SBV/*.stf
/Template Latex - Monografia - IFSP - SBV/*.symbols
/Template Latex - Monografia - IFSP - SBV/*.symbolsx
/Template Latex - Monografia - IFSP - SBV/*.synctex
/Template Latex - Monografia - IFSP - SBV/*.synctex(busy)
/Template Latex - Monografia - IFSP - SBV/*.toc
/Template Latex - Monografia - IFSP - SBV/*.xwm

/Template Latex - Relatorio Tecnico - IFSP - SBV/*.aux
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.bak
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.bbl
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.blg
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.brf
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.def
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.equ
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.exp
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.gz
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.gz(busy)
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.idx
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.ilg
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.lis
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.listing
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.lof
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.log
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.loq
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.lot
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.nav
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.out
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.pdf
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.pyg
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.sav
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.sigla
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.siglax
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.snm
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.stf
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.symbols
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.symbolsx
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.synctex
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.synctex(busy)
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.toc
/Template Latex - Relatorio Tecnico - IFSP - SBV/*.xwm