/*.aux
/*.bak
/*.bbl
/*.bcf
/*.blg
/*.brf
/*.def
/*.equ
/*.exp
/*.gz
/*.gz(busy)
/*.idx
/*.ilg
/*.lis
/*.listing
/*.lof
/*.log
/*.loq
/*.lot
/*.nav
/*.out
/*.pdf
/*.pyg
/*.sav
/*.sigla
/*.siglax
/*.snm
/*.stf
/*.symbols
/*.symbolsx
/*.synctex
/*.synctex(busy)
/*.toc
/*.xml
/*.xwm
/*-blx.bib